name: mental
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pandas
  - numpy
  - scipy
  - scikit-learn
  - matplotlib
  - seaborn
  - statsmodels
  - jupyterlab
  - notebook
  - ipykernel
  - pip
  - pip:
      - hdbscan
      - umap-learn
      - tabulate
      - nbclient
      - nbconvert
      - nbformat
      - jupyter_server
